html{
  font-family: 'Segoe UI', sans-serif;
}

.oblongix-hero {
  background-color: #e6e9e8;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  color: #1c2b23;
}

.hero-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  flex: 1 1 40%;
}

.hero-text h3 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  flex: 1 1 40%;
}

.hero-text p {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.3rem;
  flex: 1 1 50%;
  line-height: 1.6;
}

.steps-wrapper {
  margin-top: 2rem;
}

.steps-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.arrow {
  font-size: 2rem;
  color: #6d6d6d;
}

.develop {
  background-color: #8e44ad;
}

.discovery {
  background-color: #3498db;
}

.solution {
  background-color: #16a085;
}

.alignment {
  background-color: #f39c12;
}

.delivery {
  background-color: #e74c3c;
}

.handover {
  background-color: #27ae60;
}

.sustain {
  background-color: #34495e;
}

.steps-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
}

.hr {
  width: 100%;
  border: 1px solid #000;
  margin-top: 10px;
}